### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [8]:

for i in range(1500, 2701):
   if (i%7==0) and (i%5==0):
      n.append(str(i))
   
print (n)

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695', '1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695', '1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695', '1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

## 2. Write a Python program to construct the following pattern, using a nested for loop.

In [2]:
a=5
for i in range(a):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(a,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

## 3. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [4]:
n=(1,2,3,4,5,6,7,8,9,10)
odd = 0
even = 0
for x in n:
    if x%2==0:
        even+=1
    else:
        odd+=1
print("count of even numbers in given series:",even)
print("count of odd numbers in given series:",odd)

count of even numbers in given series: 5
count of odd numbers in given series: 5

## 4. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [23]:
n=[]
for i in range(100,401):
    j=str(i)
    if(int(j)%2 != 0):
      "not even:"
    else:

    
        n.append(j)
print(",".join(n))

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400

## 5. Write a Python program to calculate a dog's age in dog's years. Go to the editor
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [55]:
hum_age=int(input("Input dog age in human years:"))
dog_age=0
for i in range(0,hum_age):
  print(i)
  if i == 1 or i == 2 :
   dog_age = dog_age + 10.5
   
  else:
        dog_age = dog_age + 4
        
print("The dog's age in dog's years is:",dog_age)

Input dog age in human years:20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
The dog's age in dog's years is: 93.0

## 6. Write a Python function to find the Max of three numbers.

In [59]:
x=int(input("Input first number:"))
y=int(input("input second number"))
z=int(input("input third number"))
i=[x,y,z]
print("The Three numbers are:",i)
def max(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z
print(max(x,y,z))

Input first number:1
input second number7
input third number6
The Three numbers are: [1, 7, 6]
7

## 7. Write a Python function that takes a number as a parameter and check the number is prime or not.

In [63]:
n = int(input("enter number:"))
print("number:",n)
def prime_number(n):
    if (n==1):
        return "not a prime number"
    elif (n==2):
        return "prime number"
    else:
        for x in range (2,n):
            if (n%x == 0):
                return "not a prime number"
    return "prime number"
print(prime_number(n))

enter number:3
number: 3
prime number

## 8. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor

In [77]:
def cal_strg(s):
  uc=0
  lc=0
  for i in s:
    if i.isupper():
      uc=uc+1
    elif i.islower():
      lc=lc+1 

  print("count of uppercase : ",uc)
  print("count of lowercase : ",lc)
cal_strg('aaAACs Yzi')

count of uppercase :  4
count of lowercase :  5

## 9. Write a Python program to reverse a string.

In [78]:
def reverse(str):
    str = str[::-1]
    return str
reverse('abcdefgh')

'hgfedcba'

## 10. Write a Python program to find  the greatest common divisor (gcd) of two integers.

In [81]:
import math 
def gcd_num(x, y):
    return math.gcd(x,y)

print(gcd_num(12, 14))

2

## 11. Write a function to find if a string is a palindrome or not! 
eg: 
"NAMAN" - is a palindrome 
"INCEPTEZ" - is not a palindrome!

In [96]:
str = 'NAMAN'
def reverse(str):
  if str == str[::-1]:
     print("is a palindrome")
  else:
     print("is not a palindrome")    
print(reverse(str))

is not a palindrome
None

## 12. Write a recurssive function to find if a string is a palindrome or not!

In [97]:
str = 'NAMAN'
def reverse(str):
  if str == str[::-1]:
     print("is a palindrome")
  else:
     print("is not a palindrome")    
print(reverse(str))

is a palindrome
None